.modal{
    background-color: white;
    display: grid;
    color: black;
    padding: 10px;
    min-width: 300px;
    border-radius: 15px;
    place-items: center;
    position: absolute;
    left: 95%;
}